<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_cadastro/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_cadastro/inputs-labels.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_cadastro/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_cadastro/midia.css') }}">
    <title>Formulario de Cadastro</title>
</head>

<body>
    <main>
        <div id="alertBox" class="alert-box" style="display: none;">
            <div class="alert-content">
                <span id="alertMessage"></span>
                <button onclick="document.getElementById('alertBox').style.display='none'"
                    class="alert-button">OK</button>
            </div>
        </div>

        <div class="register-container" id="register-container">
            <div class="form-container">
                <form id="cadastroForm" class="form form-register" action="/cadastro" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="title-regs">
                        <h2 class="form-header">Crie uma conta</h2>
                        <p class="form-text">Preencha os campos abaixo</p>
                    </div>
                    <div class="input-group">

                        <div class="inputs-two">

                            <div class="input-box">
                                <label for="nome">Nome</label>
                                <input id="nome" type="text" name="nome" placeholder="Digite seu nome" required>
                            </div>

                            <div class="input-box">
                                <label for="sobrenome">Sobrenome</label>
                                <input id="sobrenome" type="text" name="sobrenome" placeholder="Digite seu sobrenome"
                                    required>
                            </div>

                        </div>

                        <div class="inputs-two">

                            <div class="input-box">
                                <label for="cidade">Cidade</label>
                                <input id="cidade" type="text" name="cidade" placeholder="Digite sua cidade" required>
                            </div>

                            <div class="input-box">
                                <label for="bairro">Bairro</label>
                                <input id="bairro" type="text" name="bairro" placeholder="Digite seu bairro" required>
                            </div>

                        </div>

                        <div class="input-box">
                            <label for="profissao">Profissão</label>
                            <input id="profissao" type="text" name="profissao" placeholder="Digite sua profissão"
                                required>
                        </div>

                        <div class="input-box">
                            <label for="email">E-mail</label>
                            <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                        </div>

                        <div class="inputs-two">
                            <div class="input-box">
                                <label for="senha">Senha</label>
                                <input id="senha" type="password" name="senha" placeholder="Digite sua senha" required>
                            </div>

                            <div class="input-box">
                                <label for="confirmSenha">Confirme a Senha</label>
                                <input id="confirmSenha" type="password" name="confirmSenha"
                                    placeholder="Confirme sua senha" required>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="register-button">Cadastrar</button>
                        <button type="button" class="login-button" onclick="window.location.href='/';">Fazer
                            Login</button>

                    </div>
                </form>
            </div>

            <div class="form-image">
                <img src="{{ url_for('static', filename='css/css_cadastro/img/img_cadastro.jpeg') }}"
                    alt="Imagem de cadastro">

            </div>
            <div id="alertButton" onclick="closeAlert()" class="alert-button">
                <div class="alert-content">
                    <span id="alertMessage"></span>
                    <button onclick="closeAlert()" class="alert-button">OK</button>
                </div>
    </main>
    <script>
        document.getElementById("cadastroForm").addEventListener("submit", function (event) {
            event.preventDefault();

            const formData = new FormData(this);

            fetch("/cadastro", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        showAlert(data.error);
                    } else {
                        window.location.href = "/";
                    }
                })
                .catch(error => {
                    showAlert("Erro ao cadastrar usuário.");
                    console.error("Erro:", error);
                });
        });

        function showAlert(message) {
            const alertBox = document.getElementById("alertBox");
            const alertMessage = document.getElementById("alertMessage");
            alertMessage.innerText = message;
            alertBox.style.display = "block";

            setTimeout(() => {
                alertBox.style.display = "none";
            }, 5000);
        }
    </script>
</body>

</html>