<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_cadastro/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_cadastro/inputs-labels.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_cadastro/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_cadastro/midia.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <title>Formulario de Cadastro</title>
</head>

<body>
    <main>
        <div id="alertBox" class="alert-box" style="display: none;">
            <div class="alert-content">
                <span id="alertMessage"></span>
                <button onclick="document.getElementById('alertBox').style.display='none'"
                    class="alert-button">OK</button>
            </div>
        </div>

        <div class="register-container" id="register-container">
            <div class="form-container">
                <form id="cadastroForm" class="form form-register" action="/cadastro" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="title-regs">
                        <h2 class="form-header">Crie uma conta</h2>
                        <p class="form-text">Preencha os campos abaixo</p>
                    </div>
                    <div class="input-group">

                        <div class="inputs-two">

                            <div class="input-box">
                                <label for="nome">Nome</label>
                                <input id="nome" type="text" name="nome" placeholder="Digite seu nome" required>
                            </div>

                            <div class="input-box">
                                <label for="sobrenome">Sobrenome</label>
                                <input id="sobrenome" type="text" name="sobrenome" placeholder="Digite seu sobrenome"
                                    required>
                            </div>

                        </div>

                        <div class="inputs-two">
                            <div class="input-box">
                                <label for="cep">CEP:</label>
                                <input type="text" id="cep" name="cep" required>
                            </div>
                            <div class="input-box">
                                <button type="button" id="buscar-cep">Buscar</button>
                            </div>
                        </div>

                        <div class="inputs-two">


                            <div class="input-box">
                                <label for="cidade">Cidade</label>
                                <input id="cidade" type="text" name="cidade" readonly>
                            </div>

                            <div class="input-box">
                                <label for="bairro">Bairro</label>
                                <input id="bairro" type="text" name="bairro" readonly>
                            </div>

                        </div>

                        <div class="input-box">
                            <label for="profissao">Profissão</label>
                            <input id="profissao" type="text" name="profissao" placeholder="Digite sua profissão"
                                required>
                        </div>

                        <div class="input-box">
                            <label for="email">E-mail</label>
                            <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                        </div>

                        <div class="inputs-two">
                            <div class="input-box">
                                <label for="senha">Senha</label>
                                <div class="password-wrapper">
                                    <input id="senha" type="password" name="senha" placeholder="Digite sua senha"
                                        required>
                                    <i class="bi bi-eye-fill" id="btn-senha" onclick="mostrarSenha()"></i>
                                </div>
                            </div>


                            <div class="input-box">
                                <label for="confirmSenha">Confirme a Senha</label>
                                <div class="password-wrapper">
                                    <input id="confirmSenha" type="password" name="confirmSenha"
                                        placeholder="Confirme sua senha" required>
                                    <i class="bi bi-eye-fill" id="btn-confirmSenha" onclick="mostrarConfirmSenha()"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="register-button">Cadastrar</button>
                        <button type="button" class="login-button" onclick="window.location.href='/';">Fazer
                            Login</button>

                    </div>
                </form>
            </div>

            <div class="form-image">
                <img src="{{ url_for('static', filename='css/css_cadastro/img/img_cadastro.jpeg') }}"
                    alt="Imagem de cadastro">

            </div>
    </main>
    <script>
        document.getElementById("cadastroForm").addEventListener("submit", function (event) {
            event.preventDefault();

            const formData = new FormData(this);

            fetch("/cadastro", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        showAlert(data.error);
                    } else {
                        window.location.href = "/";
                    }
                })
                .catch(error => {
                    showAlert("Erro ao cadastrar usuário.");
                    console.error("Erro:", error);
                });
        });

        function showAlert(message) {
            const alertBox = document.getElementById("alertBox");
            const alertMessage = document.getElementById("alertMessage");
            alertMessage.innerText = message;
            alertBox.style.display = "block";

            setTimeout(() => {
                alertBox.style.display = "none";
            }, 3000);
        }

        function mostrarSenha() {
            var inputPass = document.getElementById("senha")
            var btnShowPass = document.getElementById("btn-senha")

            if (inputPass.type === "password") {
                inputPass.setAttribute("type", "text")
                btnShowPass.classList.replace("bi-eye-fill", "bi-eye-slash-fill")
            } else {
                inputPass.setAttribute("type", "password")
                btnShowPass.classList.replace("bi-eye-slash-fill", "bi-eye-fill")
            }
        }
        function mostrarConfirmSenha() {
            var inputPass = document.getElementById("confirmSenha");
            var btnShowPass = document.getElementById("btn-confirmSenha");

            if (inputPass.type === "password") {
                inputPass.setAttribute("type", "text");
                btnShowPass.classList.replace("bi-eye-fill", "bi-eye-slash-fill");
            } else {
                inputPass.setAttribute("type", "password");
                btnShowPass.classList.replace("bi-eye-slash-fill", "bi-eye-fill");
            }
        }

        document.getElementById('buscar-cep').onclick = () => buscarCEP();

        function buscarCEP(callback) {
            var cep = document.getElementById('cep').value.replace(/\D/g, '');

            if (cep.length === 8) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {

                        if (!data.erro) {
                            const cidade = data.localidade;
                            const bairro = data.bairro;

                            // Atualiza os campos cidade e bairro
                            document.getElementById('cidade').value = cidade;
                            document.getElementById('bairro').value = bairro;

                            // Verifica se o callback foi passado e executa, caso exista
                            if (typeof callback === "function") {
                                callback(true);
                            }
                        } else {
                            alert('CEP não encontrado.');
                            if (typeof callback === "function") {
                                callback(false);
                            }
                        }
                    })
                    .catch(error => {
                        alert('Erro ao buscar CEP.');
                        if (typeof callback === "function") {
                            callback(false);
                        }
                    });
            } else {
                alert('Por favor, insira um CEP válido.');
                if (typeof callback === "function") {
                    callback(false);
                }
            }
        }
    </script>
</body>

</html>