<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficos</title>
    <script src="https://kit.fontawesome.com/a1f3395f52.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_graficos/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_graficos/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_graficos/style.css') }}">
</head>

<body>
    <nav class="navbar">

        <div class="navbar-container">
            <div class="navbar-left">

                <a href="#" class="menu-icons" id="notification-icon">
                    <i class="fa-solid fa-bell"></i>
                </a>

                <div id="notification-overlay" class="overlay">
                    <div class="popup">
                        <h2>Notificações</h2>
                        <p>Você tem novas notificações!</p>
                        <button id="close-popup" class="close-btn">Fechar</button>
                    </div>
                </div>

                <input type="text" class="search-bar" placeholder="Pesquisar">
                <div class="form-icons">

                    <a href="/reclamacoes" class="menu-icons">
                        <i class="fa-solid fa-house"></i>
                    </a>

                    <a href="/index" class="menu-icons">
                        <i class="fa-solid fa-comment-dots"></i>
                    </a>

                    <a href="#" class="menu-icons">
                        <i class="fa-solid fa-chart-pie"></i>
                    </a>

                </div>

            </div>
            <div class="user-info">
                <div class="user-avatar">{{ session['nickname'] }}</div>
                <div class="user-details">
                    <span class="username">{{ session['usuario_nome'] }}</span>
                    <span class="role">{{ session['usuario_profissao'] }}</span>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Taxa de resoluções em {{ user_city }}</h1>
        <div class="cards">
            {% for complaint in complaint_data %}
            <div class="card">
                <h2>{{ complaint.title }}</h2>
                <p><strong>{{ complaint.resolution_rate }}%</strong></p>
                <p>{{ complaint.resolved_count }} reclamações resolvidas</p>
                <p>{{ complaint.unresolved_count }} não resolvidas</p>
                <p>{{ complaint.total_count }} no total</p>
                <button>Ver reclamações</button>
            </div>
            {% endfor %}
        </div>
    </div>


    </div>
    <script src="js/script.js"></script>
</body>

</html>