<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficos</title>
    <script src="https://kit.fontawesome.com/a1f3395f52.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar">

        <div class="navbar-container">
            <div class="navbar-left">
                
                <a href="#" class="menu-icons" id="notification-icon">
                    <i class="fa-solid fa-bell"></i>
                </a>
                
                <div id="notification-overlay" class="overlay">
                    <div class="popup">
                        <h2>Notificações</h2>
                        <p>Você tem novas notificações!</p>
                        <button id="close-popup" class="close-btn">Fechar</button>
                    </div>
                </div>

                    <input type="text" class="search-bar" placeholder="Pesquisar">
                <div class="form-icons">

                    <a href="../Home_page/index.html" class="menu-icons">
                        <i class="fa-solid fa-house"></i>
                    </a>

                    <a href="../Reclamar/index.html" class="menu-icons">
                        <i class="fa-solid fa-comment-dots"></i>
                    </a>

                    <a href="#" class="menu-icons">
                        <i class="fa-solid fa-chart-pie"></i>
                    </a>

                </div>

            </div>
            <div class="user-info">
                <div class="user-avatar">NC</div>
                <div class="user-details">
                    <span class="username">Nann Cardoso</span>
                    <span class="role">Professor</span>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Taxa de resoluções em Feira de Santana</h1>
        <div class="cards">
            <div class="card">
                <h2>Coleta de lixo</h2>
                <p><strong>65%</strong></p>
                <p>67 reclamações resolvidas</p>
                <p>35 não resolvidas</p>
                <p>102 no total</p>
                <button>Ver reclamações</button>
            </div>
            <div class="card">
                <h2>Resíduos de construção</h2>
                <p><strong>88%</strong></p>
                <p>64 reclamações resolvidas</p>
                <p>8 não resolvidas</p>
                <p>72 no total</p>
                <button>Ver reclamações</button>
            </div>
            <div class="card">
                <h2>Saneamento básico</h2>
                <p><strong>84%</strong></p>
                <p>83 reclamações resolvidas</p>
                <p>15 não resolvidas</p>
                <p>98 no total</p>
                <button>Ver reclamações</button>
            </div>
            <div class="card">
                <h2>Descarte Ilegal</h2>
                <p><strong>62%</strong></p>
                <p>20 reclamações resolvidas</p>
                <p>12 não resolvidas</p>
                <p>32 no total</p>
                <button>Ver reclamações</button>
            </div>
            <div class="card">
                <h2>Meio Ambiente</h2>
                <p><strong>16%</strong></p>
                <p>20 reclamações resolvidas</p>
                <p>100 não resolvidas</p>
                <p>120 no total</p>
                <button>Ver reclamações</button>
            </div>
            <div class="card">
                <h2>Lixeiras e Infraestrutura</h2>
                <p><strong>45%</strong></p>
                <p>10 reclamações resolvidas</p>
                <p>12 não resolvidas</p>
                <p>22 no total</p>
                <button>Ver reclamações</button>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>
