@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.nav-logo a {
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.nav-logo p {
    color: green;
    font-weight: 600;
}

.nav-search input {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.nav-links a img{
    min-width: 30px;
    max-width: 30px;
}


.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

/* Main content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.complaint-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60vw;
}

.complaint-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

.user-details p {
    margin: 2px 0;
}

.tag-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tag {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    color: #555;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    margin-bottom: 20px;
}

.inputfile{
    margin-bottom: 30px;
}

.file {
    max-width: 190px;
    display: none;
}
  
.labelFile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 140px;
    border: 2px dashed #ccc;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #4f6ef7;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
