<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/a1f3395f52.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homePage/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homePage/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_homePage/style.css') }}">


</head>

<body>
    <nav class="navbar">

        <div class="navbar-container">
            <div class="navbar-left">

                <a href="#" class="menu-icons" id="notification-icon">
                    <i class="fa-solid fa-bell"></i>
                </a>

                <div id="notification-overlay" class="overlay">
                    <div class="popup">
                        <h2>Notificações</h2>
                        <p>Você tem novas notificações!</p>
                        <button id="close-popup" class="close-btn">Fechar</button>
                    </div>
                </div>

                <input type="text" class="search-bar" placeholder="Pesquisar">
                <div class="form-icons">

                    <a href="#" class="menu-icons">
                        <i class="fa-solid fa-house"></i>
                    </a>

                    <a href="/index" class="menu-icons">
                        <i class="fa-solid fa-comment-dots"></i>
                    </a>

                    <a href="/graficos" class="menu-icons">
                        <i class="fa-solid fa-chart-pie"></i>
                    </a>

                </div>

            </div>
            <div class="user-info">
                <div class="user-avatar">{{ session['nickname'] }}</div>
                <div class="user-details">
                    <span class="username">{{ session['usuario_nome'] }}</span>
                    <span class="role">{{ session['usuario_profissao'] }}</span>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Reclamações</h2>
        <div id="postsContainer">
            {% for reclamacao in reclamacoes %}
            <div class="complaint-post">
                <div class="complaint-header">
                    <span class="complaint-user">{{ reclamacao.usuario.nome }} {{ reclamacao.usuario.profissao
                        }}</span><br>
                    <span class="complaint-location">{{ reclamacao.bairro }} {{ reclamacao.data_atualizacao }}</span>
                </div>
                <div class="complaint-description">
                    {{ reclamacao.descricao }}
                </div>
                <div class="complaint-sector">
                    {% if reclamacao.anexo %}
                    <img src="{{ url_for('static', filename=reclamacao.anexo) }}" alt="Anexo"
                        style="max-width: 300px; height: auto;">
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% if not reclamacoes %}
            <p>Sem reclamações para exibir.</p>
            {% endif %}
        </div>

    </div>
    <script>
        // Exibir o popup e o fundo preto ao clicar no ícone
        document.getElementById('notification-icon').addEventListener('click', function (event) {
            event.preventDefault(); // Prevenir o comportamento padrão do link

            // Exibir o overlay com o popup
            document.getElementById('notification-overlay').style.display = 'flex';
        });

        // Fechar o popup ao clicar no botão "Fechar"
        document.getElementById('close-popup').addEventListener('click', function () {
            document.getElementById('notification-overlay').style.display = 'none';
        });


    </script>
</body>

</html>