<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_login/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_login/inputs-labels.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_login/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_login/midia.css') }}">
    <title>Formulario de Cadastro</title>
</head>

<body>
    <main>
        <div id="alertBox" class="alert-box" style="display: none;">
            <div class="alert-content">
                <span id="alertMessage"></span>
                <button onclick="document.getElementById('alertBox').style.display='none'"
                    class="alert-button">OK</button>
            </div>
        </div>
        <div class="register-container" id="register-container">
            <div class="form-container">

                <form id="loginForm" class="form form-register" action="/" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="title-regs">
                        <h2 class="form-header">Bem-vindo(a) de volta</h2>
                        <p class="form-text">Preencha os campos abaixo</p>
                    </div>
                    <div class="input-group">
                        <div class="input-box">
                            <label for="email">E-mail</label>
                            <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                        </div>

                        <div class="input-box">
                            <label for="senha">Senha</label>
                            <input id="senha" type="password" name="senha" placeholder="Digite sua senha" required>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#">Esqueceu a senha?</a>
                        <button type="submit" class="login-button">Fazer Login</button>
                        <p class="form-text form-text-baixo">Não tem uma conta? <a
                                href="{{ url_for('user.cadastrar_usuario') }}">Cadastre-se</a></p>
                    </div>
                </form>
            </div>

            <div class="form-image">
                <img src="{{ url_for('static', filename='css/css_login/img/img_login.jpeg') }}"
                    alt="Imagem de cadastro">
            </div>

        </div>

        
    </main>
    <script>
        document.getElementById("loginForm").addEventListener("submit", function (event) {
            event.preventDefault();

            const formData = new FormData(this);

            fetch("/", {
                method: "POST",
                body: formData
            })
                .then(response => {
                    const contentType = response.headers.get("content-type");
                    if (contentType && contentType.includes("application/json")) {
                        return response.json();
                    } else {
                        throw new Error("Resposta não é JSON.");
                    }
                })
                .then(data => {
                    if (data.error) {
                        showAlert(data.error);
                    } else {
                        window.location.href = "/reclamacoes";
                    }
                })
                .catch(error => {
                    showAlert("Erro ao processar o login.");

                });
        });

        function showAlert(message) {
            const alertBox = document.getElementById("alertBox");
            const alertMessage = document.getElementById("alertMessage");
            alertMessage.innerText = message;
            alertBox.style.display = "block";

            setTimeout(() => {
                alertBox.style.display = "none";
            }, 3000);
        }

    </script>
</body>

</html>